extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'login-page'

block content
    include ../../blocks/login-admin/login-admin

