$font-family-base:        'Lato', sans-serif;
$font-weight-base:        300;
$font-size-base:          16px;
$color-base:              #000;

$brand-primary:           #0C4DA2;
$brand-secondary:         #56BED1;

$border-color:            #ced4da;
$bkg-color:               #EDF3F4;
$border-radius:           10px;

// layout
$grid-gutter-width:       20px;