section.login-section
    .section__wrapper

        .section-headline Login
        .section-description Para acessar seu login diga-nos primeiro em qual perfil você se encaixa.

        button.blue-button.login-section__button-one Área do Contratante
        button.blue-button.login-section__button-two Gestão Interna
    
    .login-section__decor-1
    .login-section__decor-2

