nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a(href="index.html").main-menu__link.main-menu__close-button Модалка
        li.main-menu__item
            a(href="form.html").main-menu__link.main-menu__close-button Форма
        li.main-menu__item
            a(href="faq.html").main-menu__link.main-menu__close-button FAQ
        li.main-menu__item
            a(href="blazy.html").main-menu__link.main-menu__close-button BLazy
        li.main-menu__item
            a(href="sticky.html").main-menu__link.main-menu__close-button Sticky
        