.ds-radiobtn
    label.ds-radiobtn__label(for="dsRadioBtnYes") Да
        input.ds-radiobtn__html-radiobtn(type="radio" checked name="dsRadioBtnYesNo" id="dsRadioBtnYes")
        span.ds-radiobtn__span

.ds-radiobtn
    label.ds-radiobtn__label(for="dsRadioBtnNo") Нет
        input.ds-radiobtn__html-radiobtn(type="radio" name="dsRadioBtnYesNo" id="dsRadioBtnNo")
        span.ds-radiobtn__span