.password-recovery-success {
  padding-top: 29.0625rem;
  padding-bottom: 7.375rem;

  .section-description {
    margin-right: auto;
    margin-left: auto;
    max-width: 34.375rem;
  }
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .password-recovery-success {
    padding-top: 6rem;
    padding-bottom: 0;
  }
}
