extends ../../templates/index-mini

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'form-page'

block content
    include ../../blocks/login-step-3/login-step-3

