/*
ds-input-file
стилизованный input file

Интерактив:
  - .ds-input-file.active отображает красную рамку
  - .ds-input-file.active отображает helper-text
*/

// главный контейнер
.ds-input-file {
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  max-width: 31.25rem;
}

// надпись над полем
.ds-input-file__label-title {
  display: block;
  padding-bottom: .5rem;
  padding-left: .5rem;
  font-size: .875rem;
  color: #848484;
}

// лейбл стилизованный под поле
.ds-input-file__label {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  width: 100%;
  height: 2.5rem;
  font-size: .875rem;
  font-size: .8125rem;
  color: #252525;
  color: #979797;
}

// кнопка загрузки
.ds-input-file__button {
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 4.5rem;
  height: 100%;
  border-top-right-radius: .37rem;
  border-bottom-right-radius: .37rem;
  background-color: #d8d8d8;
  color: #000000;
  cursor: pointer;
}

// контейнер для название загруженного файла
.ds-input-file__file-name-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-right: .5rem;
  padding-left: .5rem;
  width: calc(100% - 4.5rem);
  height: 100%;
  border: 1px solid #d8d8d8;
  border-top-left-radius: .37rem;
  border-bottom-left-radius: .37rem;
  font-size: .875rem;
}

// название загруженного файла
.ds-input-file__file-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// скрываем оригинальный input
.ds-input-file__html-field {
  display: none;
}

// .error - добавляем красную рамку
.ds-input-file.error .ds-input-file__label {
  border: 1px solid red;
  border-radius: .375rem;
}

// .error - отображем helper-text
.ds-input-file.error .helper-text {
  display: block;
  margin-top: .25rem;
  padding-left: .5rem;
  font-size: .75rem;
}
