.ds-input-file
    .ds-input-file__label-title Прикрепите фото
    label.ds-input-file__label(for="dsInputFile")
        .ds-input-file__file-name-container
            .ds-input-file__file-name ...
        .ds-input-file__button Обзор
        input.ds-input-file__html-field(id="dsInputFile" type="file")
    .helper-text введите имя