header.main-header
    .main-header__wrapper
        a(href="#").main-header__logo-link
            picture
                source(srcset="./images/main-header-logo-mob.png" media="(max-width: 800px)")
                img(src="./images/main-header-logo.png", alt="").main-header__logo-image
        nav.main-header__navigation
            ul.main-header__nav-list
                li.main-header__nav-item.none
                    a(href="#").main-header__nav-link.mob-menu-close-btn Home
                li.main-header__nav-item
                    a(href="#").main-header__nav-link.mob-menu-close-btn Publicações
                li.main-header__nav-item
                    a(href="#").main-header__nav-link.mob-menu-close-btn Sobre nós
                li.main-header__nav-item
                    a(href="#").main-header__nav-link.mob-menu-close-btn Projetos
                li.main-header__nav-item
                    .main-header__nav-link.nav-link__drop-container
                        .nav-link___drop-move-container
                            ul.nav-link__drop-list
                                li.main-header__nav-item
                                    a(href="#").main-header__nav-link.mob-menu-close-btn Setor da Saúde
                                li.main-header__nav-item
                                    a(href="#").main-header__nav-link.mob-menu-close-btn Vagas Internas
                        span Processo Seletivo
                li.main-header__nav-item
                    a(href="#").main-header__nav-link.mob-menu-close-btn Fale conosco
                li.main-header__nav-item
                    a(href="#").main-header__nav-link.main-header__nav-button.mob-menu-close-btn Login
            .main-header__navigation-close-button.mob-menu-close-btn
        .main-header__language-selector
            .language-selector___drop-move-container
                ul.language-selector__drop-list
                    li.language-selector__item
                        a(href="#").language-selector__link Inglês
                        img.icon(src="./images/language-selector-port-img.svg", alt="")
                    li.language-selector__item
                        a(href="#").language-selector__link Português
                        img.icon(src="./images/language-selector-port-img.svg", alt="")
            span Português
            img.icon(src="./images/language-selector-port-img.svg", alt="")
            img.arrow(src="./images/language-selector-poligon.svg", alt="")


        .main-header__mobile-menu-container
            .main-header__mobile-menu-button