.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 8.625rem;
  background-color: rgba(12, 77, 162, .95);
}

.index-page .main-header {
  z-index: 50;
  background-color: transparent;
}

.main-header__wrapper {
  justify-content: space-between;
  align-items: start;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.9375rem;
  padding-right: .5rem;
  padding-left: .5rem;
  max-width: 98.75rem;
}

.main-header__logo-link {
  display: block;
  width: 16rem;
}

.main-header__logo-image {
  width: 100%;
}

.main-header__navigation {
  width: 59.625rem;
}

.main-header__nav-list {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.main-header__nav-item {
}

.main-header__nav-item.none {
  display: none;
}

.main-header__nav-link {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3.0625rem;
  font-family: $main-font-regular;
  font-size: 1.25rem;
  color: $white;
  transform-origin: center;
  transition: transform 100ms;
}

.main-header__nav-link:hover {
  text-decoration: none;
  color: $white;
  transform: scale(1.1);
}

.main-header__nav-button {
  width: 5.625rem;
  border: .125rem solid $white;
  border-radius: .5rem;
}

.main-header__navigation-close-button {
  position: absolute;
  top: 1rem;
  right: .75rem;
  display: none;
  width: 2rem;
  height: 2rem;
  background-image: url("./images/mob-menu-close-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: .9375rem auto;
  cursor: pointer;
}

.main-header__mobile-menu-container {
  display: none;
}

.nav-link__drop-container {
  position: relative;

  span {
    position: relative;
  }
}

.nav-link__drop-container:hover .nav-link___drop-move-container {
  max-height: 11rem;
}

.nav-link___drop-move-container {
  position: absolute;
  top: 0;
  left: -.75rem;
  width: 11.5rem;
  height: 10.625rem;
  max-height: 0;
  overflow: hidden;
}

.nav-link__drop-list {
  padding-top: 2.95rem;
  width: 100%;
  border: .125rem solid $white;
  border-radius: .5rem;
  background-color: rgba(32, 94, 147, .9);

  li {
    padding-top: .25rem;
  }
}

.main-header__language-selector {
  position: relative;
  align-items: center;
  display: flex;
  margin-right: .5rem;
  padding-right: 1rem;
  padding-left: 2.25rem;
  width: 13rem;
  height: 3.0625rem;

  span {
    position: relative;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: $white;
    cursor: pointer;
  }
}

.country-icon {
  margin-right: .5rem;
}

.main-header__language-selector:hover .language-selector___drop-move-container {
  max-height: 10rem;
}

.language-selector___drop-move-container {
  position: absolute;
  top: 0;
  left: -.625rem;
  width: 10.5rem;
  max-height: 0;
  overflow: hidden;
}

.language-selector__drop-list {
  padding-top: 2.95rem;
  padding-left: .5rem;
  width: 100%;
  height: 8rem;
  border: .125rem solid $white;
  border-radius: .5rem;
  background-color: rgba(32, 94, 147, .9);
}

.language-selector__item {
  position: relative;
  display: block;
  padding-bottom: .75rem;
  padding-left: 2.25rem;

  .icon {
    position: absolute;
    top: .25rem;
    left: 0;
    width: 1.4375rem;
    height: auto;
  }
}

.language-selector__link {
  font-size: 1.25rem;
  color: $white;
}

.language-selector__link:hover {
  text-decoration: none;
  color: $white;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .main-header {
    position: static;
    height: 7.625rem;
    background-color: white;
  }

  .main-header__wrapper {
    padding-top: 2.9375rem;
    padding-left: 1.75rem;
    width: 100%;
  }

  .main-header__logo-link {
    width: 11.3125rem;
  }

  .main-header__navigation {
    position: fixed;
    top: 2.625rem;
    right: -23.8125rem;
    z-index: 100;
    padding-top: 2.5rem;
    padding-right: 3.75rem;
    width: 22.5rem;
    height: 31.875rem;
    border-top-left-radius: 15.9375rem;
    border-bottom-left-radius: 15.9375rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    background-color: $white;
    transition: transform 300ms;
  }

  .main-header__navigation.active {
    transform: translateX(-23.8125rem);
  }

  .main-header__mobile-menu-container {
    position: fixed;
    top: 2.75rem;
    right: 0;
    z-index: 50;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 3.875rem;
    height: 2.8125rem;
    border-top-left-radius: 1.4375rem;
    border-bottom-left-radius: 1.4375rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
    background-color: $white;
    cursor: pointer;
  }

  .main-header__nav-list {
    display: block;
    margin-left: auto;
    width: 11.125rem;
  }

  .main-header__nav-item {
    padding-top: 0;
    width: 11.125rem;
  }

  .main-header__nav-item.none {
    display: block;
  }

  .main-header__nav-link {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 11.125rem;
    height: 3.0625rem;
    font-size: 1.25rem;
    color: $blue;
  }

  .main-header__nav-link:hover {
    transform: none;
  }

  .main-header__nav-link:hover {
    color: $blue;
  }

  .main-header__nav-button {
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    width: 5.625rem;
    border: 1px solid $blue;
    border-radius: .5rem;
  }

  .main-header__navigation-close-button {
    display: block;
  }

  .main-header__mobile-menu-button {
    position: relative;
    display: block;
    width: 1.1875rem;
    height: .1875rem;
    background-color: #0c4da2;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -.375rem;
      left: 0;
      display: block;
      width: 1.1875rem;
      height: .1875rem;
      background-color: #0c4da2;
    }

    &:after {
      top: .375rem;
    }
  }

  .nav-link__drop-container {
    position: static;
    height: auto;

    span {
      display: none;
    }
  }

  .nav-link__drop-container:hover .nav-link___drop-move-container {
    max-height: none;
  }

  .nav-link___drop-move-container {
    position: static;
    width: auto;
    height: auto;
    max-height: none;
    overflow: hidden;
  }

  .nav-link__drop-list {
    padding-top: 0;
    width: 100%;
    border: 0;
    background-color: $white;

    li {
      padding-top: 0;
    }
  }

  .main-header__language-selector {
    display: none;
  }
}
