section.projetos
    .projetos__wrapper
        .section-headline.projetos__headline Projetos
        .projetos__description Clique em um local do mapa para saber mais sobre os projetos realizados e em andamento de cada estado.
        .projetos__legend
            .projetos__legend-name
                img(src="./images/projetos-legend-icon-1.svg", alt="")
                span Projetos realizados
            .projetos__legend-name
                img(src="./images/projetos-legend-icon-2.svg", alt="")
                span Projetos em andamento
        
        .projetos__map-section

            .projetos__text-container.blue

                .projetos__text-headline RIO DE JANEIRO | Em andamento
                .projetos__text-wrapper
                    .projetos__text-line-50

                        .projetos__text-block
                            .projetos__text-number 01
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                        
                        .projetos__text-block
                            .projetos__text-number 02
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                        
                        .projetos__text-block
                            .projetos__text-number 03
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                        
                        .projetos__text-block
                            .projetos__text-number 04
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                    
                    .projetos__text-line-50

                        .projetos__text-block
                            .projetos__text-number 05
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                        
                        .projetos__text-block
                            .projetos__text-number 06
                            .projetos__text-name Hospital Estadual Getúlio Vargas
                            .projetos__text-descr Projeto realizado no ano de 2018
                
            //- .projetos__text-container.grey

            //-     .projetos__text-headline PARÁ | Realizados
            //-     .projetos__text-wrapper
            //-         .projetos__text-line-100

            //-             .projetos__text-block
            //-                 .projetos__text-number 01
            //-                 .projetos__text-name Hosp. Reg. Do Marajó Município de Breves-Ilha do Marajó
            //-                 .projetos__text-descr Projeto realizado no ano de 2018
                        
            //-             .projetos__text-block
            //-                 .projetos__text-number 02
            //-                 .projetos__text-name Hosp. Reg. Do Marajó Município de Breves-Ilha do Marajó
            //-                 .projetos__text-descr Projeto realizado no ano de 2018
                        
            //-             .projetos__text-block
            //-                 .projetos__text-number 03
            //-                 .projetos__text-name Hosp. Reg. Do Marajó Município de Breves-Ilha do Marajó
            //-                 .projetos__text-descr Projeto realizado no ano de 2018

            .projetos__map-container
                img(src="./images/projetos-map-image.png", alt="")
