// colors
$white: #ffffff;
$black: #000000;
$blue: #0c4da2;
$light-grey: #0000001a;
$medium-grey: #bfbfbf;
$grey: #6e6e6e;

// fonts
$main-font-regular: "latoRegular", arial, sans-serif;
$main-font-bold: "latoBold", arial, sans-serif;
$main-font-light: "latoLight", arial, sans-serif;
$main-font-black: "latoBlack", arial, sans-serif;

// less then 1460px
$nout1: "max-width: 1520px";
$nout2: "max-width: 1520px";
$nout3: "max-width: 1520px";

// mobile
$mobile1: "max-width: 768px";
$mobile2: "max-width: 768px";
$mobile3: "max-width: 768px";
