// ds-textarea
// поле ввода многострочного текста

/*
  Интерактив:
    - ds-textarea.error отображает красную рамку
    - ds-textarea.error отображает helper-text
    - js: подстраивается по высоте под введенный текст
*/

// главный контейнер
.ds-textarea {
  width: 100%;
}

// label надпись над полем взята из ds-input
.ds-textarea .ds-input__field {
  @include placeholder {
    color: #848484;
    opacity: 1;
  }
  min-height: 5.5rem;
  resize: none;
  overflow: hidden;
}

// скрытый блок для вычисления высоты textarea
.ds-textarea__hidden-div {
  display: none;
}

// меняем цвет рамки поля на красный если есть класс .error
.ds-textarea.error .ds-input__field {
  border: .15rem solid red;
}

// отображаем helper-text если есть класс .error
.ds-textarea.error .helper-text {
  display: block;
}
