.ds-textarea
    label.ds-input__label Несколько слов о себе
    .ds-input__wrapper
        textarea.ds-input__field Несколько слов о себе
        .ds-input__field.ds-textarea__hidden-div
    .helper-text введите имя