.login-step-2 {
  padding-top: 15.75rem;
  padding-bottom: 2.375rem;

  .ds-checkbox {
    margin-top: 2.25rem;
    margin-right: auto;
    margin-left: auto;
    width: 18rem;
  }

  .form-submit-button {
    margin-top: 2.575rem;
  }
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .login-step-2 {
    padding-top: 6rem;
    padding-bottom: .625rem;

    .ds-checkbox {
      margin-top: 1.75rem;
      width: 13rem;
    }

    .form-submit-button {
      margin-top: .75rem;
    }
  }
}
