.feedback-wrapper
  h2.tipo-t2.feedback-title Fale conosco
  .feedback-content
    form#feedback.feedback-form(class="needs-validation" novalidate)
      .form-group.feedback-form__name
        label(for="feedbackName") Nome*
        input(type="text" class="form-control form-control-lg" id="feedbackName" placeholder="Digite seu nome" required)
        div(class="valid-feedback") Ok
      .form-group.feedback-form__topic
        label(for="feedbackTopic") Empresa
        input(type="text" class="form-control form-control-lg" id="feedbackTopic" placeholder="Digite a empresa onde trabalha" required)
        div(class="invalid-feedback") validation message
      .form-group.feedback-form__email
        label(for="feedbackEmail") E-mail*
        input(type="email" class="form-control form-control-lg" id="feedbackEmail" placeholder="Digite seu e-mail" required)
        div(class="invalid-feedback") validation message
      .form-group.feedback-form__phone
        label(for="feedbackPhone") Telefone*
        input(type="phone" class="form-control form-control-lg" id="feedbackPhone" placeholder="Digite seu telefone" required)
        div(class="invalid-feedback") validation message
      .form-group.feedback-form__message
        label(for="feedbackPhone") Mensagem*
        textarea(type="text" class="form-control form-control-lg" id="feedbackMessage" placeholder="Digite sua mensagem aqui" required)
        div(class="invalid-feedback") validation message
      button(class="blue-button feedback-form__submit" type="submit") Enviar

    .contact-data
      .contact-data__title.tipo-t3 Para entrar em contato
      .contact-data__address-block
          a(href="mailto:contato@soniprev.com").contact-data__email-link contato@soniprev.com
          a(href="tel:+552135980905").contact-data__phone-link +55 (21) 3598-0905
          .contact-data__address 
            != 'Avenida das Américas, 3.500 | Condomínio Le Monde Office </br> Portaria 2 | Salas 714, 715, 716 </br> Barra da Tijuca | Rio de Janeiro'