extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'index-page'

block content
    include ../../blocks/main-slider/main-slider
    include ../../blocks/publicacoes/publicacoes
    include ../../blocks/empresa/empresa
    include ../../blocks/card-section/card-section
    include ../../blocks/presidencia/presidencia
    include ../../blocks/servicos/servicos
    include ../../blocks/areas/areas
    include ../../blocks/projetos/projetos

