/*
ds-select
стилизованный html select

Интерактив:
  - .ds-select.active отображает красную рамку
  - .ds-select.active отображает helper-text
*/

// -- главный блок компонента
.ds-select {
  @include user-select-none();
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.2;
}

// -- скрываем оригинальный html select
.ds-select__html-select {
  display: none;
}

// -- блок с псевдоселектом
.ds-select__selected-option {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-top: .5rem;
  padding-right: 2rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  width: 100%;
  min-height: 3.25rem;
  border: .15rem solid #848484;
  border-radius: .3rem;
  font-size: inherit;
  color: #848484;
  cursor: pointer;
}

// -- текст по умолчанию, заменяется на выбранный из выпадающего списка
.ds-select__selected-text {
}

// анимация стрелки указателя
.ds-select.active .ds-arrow-pointer {
  transform: rotate(-180deg);
}

// -- блок с выпадающим списком
.ds-select__dropdown-option {
  position: absolute;
  top: 105%;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
}

// -- выпадающий список
.ds-select__options-list {
  display: block;
  margin: 0;
  margin-bottom: .1rem;
  border: .15rem solid #848484;
  border-radius: .3rem;
  background: white;
  font-size: inherit;
  text-align: left;
  color: #848484;
  transition: max-height 200ms;
}

// -- элементы выпадающего списка
.ds-select__options-list li {
  padding-top: .5rem;
  padding-right: 2rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  cursor: pointer;
  list-style-type: none;
}

// -- эфект при наведении
.ds-select__options-list li:hover {
  background: rgba(0, 0, 0, .1);
}

// меняем цвет рамки поля на красный если есть класс .error
.ds-select.error .ds-select__selected-option {
  border: .15rem solid red;
}

// отображаем helper-text если есть класс .error
.ds-select.error .helper-text {
  display: block;
}
