extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'form-page'

block content
    include ../../blocks/registration-success/registration-success

