section.publicacoes
    .publicacoes__menu-background
    .publicacoes__wrapper
        .section-headline.publicacoes__headline Publicações
        .publicacoes__desctiption Nesta página a SONIPREV publica editais de seleções, informes de interesses públicos e da classe médica, Currículo Padrão Soniprev e etc.

        .publicacoes__slider-container

            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide1-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 01
                    .publicacoes__slide-headline UPAs 24h
                    .publicacoes__slide-description Unidades de Pronto Atendimento

            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide2-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 02
                    .publicacoes__slide-headline HEGV
                    .publicacoes__slide-description Hospital Estadual Getúlio Vargas

            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide3-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 03
                    .publicacoes__slide-headline Vagas
                    .publicacoes__slide-description Verifique as vagas em aberto

            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide4-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 04
                    .publicacoes__slide-headline SONIPREV
                    .publicacoes__slide-description O futuro da Gestão em Saúde.

            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide5-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 05
                    .publicacoes__slide-headline Abertas as inscrições
                    .publicacoes__slide-description Estão abertas as inscrições para a turma de PALS
                
            a(href="#").publicacoes__slide
                .publicacoes__slide-img-container
                    img(src="./images/publicacoes-slide6-img-dsk.png", alt="")
                .publicacoes__slide-text-container
                    .publicacoes__slide-number 06
                    .publicacoes__slide-headline Abertas as inscrições
                    .publicacoes__slide-description Estão abertas as inscrições para a turma de ACLS
        
    .publicacoes__decoration


