.publicacoes {
  position: relative;
}

.publicacoes__wrapper {
  padding-top: 5rem;
  padding-left: 15.375rem;
}

.publicacoes__desctiption {
  margin-top: 2.625rem;
  font-size: 1.125rem;
  color: $grey;
}

.publicacoes__slider-container {
  margin-top: 5.25rem;
  margin-left: -.5rem;
  height: 29.5rem;
}

.publicacoes__slide {
  display: block;
  margin-top: 1rem;
  margin-right: 8.125rem;
  margin-bottom: 2rem;
  margin-left: .5rem;
  width: 21.5625rem;
  height: 29.5rem;
  border-radius: 2.5rem;
  background-color: $white;
}

.publicacoes__slide:hover {
  box-shadow: .25rem .25rem 2rem rgba(0, 0, 0, .05);
  text-decoration: none;
  transition: box-shadow 200ms;

  img {
    transform: scale(1.1);
  }
}

.publicacoes__slide-img-container {
  width: 100%;
  height: 14.375rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transition: transform 200ms;
    transform-origin: center;
  }
}

.publicacoes__slide-text-container {
  padding-top: 1.375rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  background-color: $white;
}

.publicacoes__slide-number {
  font-family: "latoBlack";
  font-size: 3.125rem;
  color: $blue;
}

.publicacoes__slide-headline {
  margin-top: 1.0625rem;
  font-family: "latoBold";
  font-size: 1.375rem;
  color: $blue;
}

.publicacoes__slide-description {
  margin-top: .875rem;
  font-size: 1.125rem;
  line-height: 1.6;
  color: $grey;
}

.publicacoes__decoration {
  position: absolute;
  top: 16rem;
  left: calc(50% - 66.5rem);
  z-index: -1;
  width: 55.5rem;
  height: 46.625rem;
  background-image: url("./images/publicacoes-decoration-img.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.publicacoes__menu-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 8rem;
  background-color: $blue;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .publicacoes {
  }

  .publicacoes__wrapper {
    padding-top: 1.625rem;
    padding-left: 1.875rem;
  }

  .publicacoes__desctiption {
    margin-top: 1.125rem;
    font-size: .8438rem;
  }

  .publicacoes__slider-container {
    margin-top: 4.375rem;
    height: 19.875rem;
  }

  .publicacoes__slide {
    margin-right: 1.625rem;
    width: 13.9375rem;
    height: 19.875rem;
  }

  .publicacoes__slide-img-container {
    width: 100%;
    height: 9.375rem;

    img {
      width: 100%;
      height: auto;
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
    }
  }

  .publicacoes__slide-text-container {
    padding-top: 1.125rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    background-color: $white;
  }

  .publicacoes__slide-number {
    font-size: 1.5625rem;
    color: $blue;
  }

  .publicacoes__slide-headline {
    margin-top: .625rem;
    font-size: 1rem;
  }

  .publicacoes__slide-description {
    margin-top: .75rem;
    font-size: .8438rem;
  }

  .publicacoes__decoration {
    top: 8.5rem;
    left: 0;
    width: 100%;
    height: 29.75rem;
    background-position: -5rem center;
    background-size: auto 100%;
  }

  .publicacoes__menu-background {
    display: none;
  }
}
