.pass-recovery,
.pass-recovery-ok {
  padding-top: 26.25rem;
}

.pass-recovery-ok {

  .section-description {
    margin-right: auto;
    margin-left: auto;
    max-width: 34.375rem;
  }
}

.pass-recovery-new {
  padding-top: 22.125rem;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .pass-recovery,
  .pass-recovery-ok,
  .pass-recovery-new {
    padding-top: 6rem;
  }
}
