section.form-section.enter-new-password
    .section__wrapper

        .section-headline Recuperação de senha
        .section-description Agora que verificou seu e-mail, digite sua nova senha e confirme-a.

        form#passRecoveryForm.enter-new-password__form(class="needs-validation" novalidate)
            .form-group.enter-new-password__form-pass
                label(for="passRecoveryNewPass") Nova senha
                input(type="password" class="form-control form-control-lg required" id="passRecoveryNewPass" placeholder="Digite a senha" required)
                div(class="valid-feedback") Ok
            .form-group.enter-new-password__form-pass-conf
                label(for="passRecoveryNewPassConf") Confirmação da nova senha
                input(type="password" class="form-control form-control-lg required" id="passRecoveryNewPassConf" placeholder="Confirme a senha" required)
                div(class="valid-feedback") Ok
            button(class="blue-button form-submit-button toggle-disabled" disabled type="submit") Atualizar

    .form-section__decor-1
    .form-section__decor-2