.ds-accordion
    //- .ds-accordion__empty-headline Загрузка...
    .ds-accordion__component
        .ds-accordion__headline Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .ds-arrow-pointer
        .ds-accordion__dropdown
            .ds-accordion__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.