h1.registration-title Cadastro
div.registration-desctiption Preencha com suas informações pessoais para poder enviar o cadastro
.registration-avatar
  picture.avatar__image
    source(srcset="./images/avatar.png 1x, ./images/avatar@2x.png 2x" media="(min-width: 980px)")
    source(srcset="./images/avatar.png 1x, ./images/avatar@2x.png 2x" media="(min-width: 320px)")
    img(src="./images/avatar.png" srcset="./images/avatar.png 1x, ./images/avatar@2x.png 2x")
  img.avatar__badgeimg(src="./images/updating.svg")