section.main-slider
    .main-slider__wrapper

        .main-slider__slide.main-slider__slide-1
            .main-slider__content-block
                .main-slider__headline Baixe agora nosso&nbsp;aplicativo!
                .main-slider__description E tenha seus plantões nas palmas das mãos.
                ul.main-slider__list
                    li • Combine suas trocas
                    li • Receba as melhores vagas
                    li • Confira seu extrato
                .main-slider__description-2 Tudo isso diretamente no seu celular.
                .main-slider__store-container
                    a(href="#").main-slider__store-link
                        img(src="./images/main-footer-google-play-image.png", alt="")
                    a(href="#").main-slider__store-link
                        img(src="./images/main-footer-apple-store-image.png", alt="")

        .main-slider__slide.main-slider__slide-2
            .main-slider__content-block
                .main-slider__headline Cadastre-se e faça parte do nosso time!
                .main-slider__description Temos as melhores vagas à sua espera! É simples e rápido, faça agora mesmo!
                a(href="#").white-button.main-slider__button Quero me cadastrar
        
        .main-slider__slide.main-slider__slide-3
            .main-slider__content-block
                .main-slider__headline A maior Empresa de Gestão e Soluções  em saúde do Brasil.
                .main-slider__description Entre em contato e teremos o prazer de responder o mais breve possível.
                a(href="#").white-button.main-slider__button Fale conosco

    .main-slider__wave-block