footer.main-footer
    .main-footer__wrapper 
        .main-footer__headline Baixe nosso app!
        .main-footer__descriptopn Um aplicativo feito para ajudar profissionais da saúde.

        .main-footer__app-links-container
            a(href="#").main-footer__app-link
                img(src="./images/main-footer-google-play-image.png", alt="")
            a(href="#").main-footer__app-link
                img(src="./images/main-footer-apple-store-image.png", alt="")

        .main-footer__info-container

            .main-footer__info-block
                a(href="#").main-footer__logo-link
                    img(src="./images/main-header-logo-mob.png", alt="")
                .main-footer__social-container
                    a(href="#").main-footer__social-link
                        img(src="./images/facebook-icon.svg", alt="")
                    a(href="#").main-footer__social-link
                        img(src="./images/insta-icon.svg", alt="")
            
            .main-footer__address-block
                .main-footer__address-headline Para entrar em contato
                a(href="mailto:contato@soniprev.com").main-footer__email-link contato@soniprev.com
                a(href="tel:+552135980905").main-footer__phone-link +55 (21) 3598-0905
                a(href="mailto:").main-footer__address Avenida  das  Américas, 3.500 Barra da Tijuca  |  Rio de Janeiro
            
            .main-footer__navigation-1
                a(href="#").main-footer__navigation-link Sobre nos
                a(href="#").main-footer__navigation-link Projetos
                a(href="#").main-footer__navigation-link Processe Seletivo

            .main-footer__navigation-2
                a(href="#").main-footer__navigation-link Publicacoes
                a(href="#").main-footer__navigation-link Contato
                a(href="#").main-footer__navigation-link Login

