section.empresa
    .empresa__wrapper
        .empresa__text-container
            .section-headline.empresa__text-headline Sobre 
                span a empresa
            .empresa__text-description A Soniprev realiza a captação de profissionais de diversas áreas da saúde para atuarem nos mais diversos segmentos hospitalares, são todos profissionais capacitados, com foco no atendimento humanizado e resolutivo. Somos especialistas em oferecer soluções em gestão de serviços médicos, conforme a necessidade do seu projeto e sem colocar a saúde em segundo plano. 
            .empresa__text-description.margin-top Hoje atuamos por intermédio de parcerias com entidades privadas e filantrópicas no gerenciamento de unidades de saúde, temos o compromisso com a otimização dos recursos público-privados e a responsabilidade singular com cada projeto.

        .empresa__img-container
            img(src="./images/empresa-img-dsk.png", alt="")

