.display-none {
  visibility: hidden;
}

.position-fixed {
  position: fixed;
  width: 100%;
}

.main-content-for-scrolling {
  height: 100vh;
  overflow: hidden;
}

.hide-up {
  transform: translate3d(0, -115%, 0);
  transition: transform .7s;

  /* хак для Safari */
  transition-delay: 1ms;
}

.show-up {
  transform: translate3d(0, 0, 0);
  transition: transform .7s;

  /* хак для Safari */
  transition-delay: 1ms;
}
