section.areas
    .areas__wrapper
        .section-headline.areas__headline Áreas de atuação
        .areas__contaner

            .areas__card
                .areas__image-container
                    img(src="./images/areas-image-1.png", alt="")
                .areas__name Clínica Médica
            
            .areas__card
                .areas__image-container
                    img(src="./images/areas-image-2.png", alt="")
                .areas__name Anestesiologia
            
            .areas__card
                .areas__image-container
                    img(src="./images/areas-image-3.png", alt="")
                .areas__name Cirurgia Geral
            
            .areas__card
                .areas__image-container
                    img(src="./images/areas-image-4.png", alt="")
                .areas__name Pediatria
            
            .areas__card
                .areas__image-container
                    img(src="./images/areas-image-5.png", alt="")
                .areas__name Pediatria
        
        button(data-toggle="modal" data-target="#exampleModalCenter").blue-button.areas__button Ver todas
            
            

