.form-section {
  position: relative;
  padding-top: 27.1875rem;
  padding-bottom: 8rem;

  .section-headline {
    text-align: center;
  }

  .section-description {
    margin-top: 2rem;
    margin-bottom: 3.125rem;
    font-size: 1.125rem;
    line-height: 1.77;
    text-align: center;
    color: $grey;
  }

  form {
    margin-right: auto;
    margin-left: auto;
    max-width: 29.875rem;
  }

  .form-section__row {
    justify-content: space-between;
    display: flex;
  }

  .form-control {
    height: 3.6875rem;
    border: .1875rem solid rgba(191, 191, 191, .6);
    border-radius: .75rem;
  }

  .custom-file-label {
    padding: .8rem 1rem;
  }

  .custom-file-label:after {
    top: .425rem;
    right: .75rem;
    padding: 0;
    width: 1.625rem;
  }

  .form-group.width-48 {
    width: 48%;
  }

  .form-group.width-25 {
    margin-right: 3.375rem;
    width: 25%;
  }

  .form-group.width-27 {
    width: 27%;
  }

  .form-group.width-65 {
    width: 65%;
  }

  .form-group.width-67 {
    width: 67%;
  }

  .form-submit-button {
    display: flex;
    margin-top: 3.875rem;
    margin-right: auto;
    margin-left: auto;
    width: 16.8125rem;
    height: 4.5rem;
  }

  .form-submit-button:disabled {
    background-color: $grey;
    opacity: .35;
  }

  .forgot-link {
    display: block;
    margin-top: 2.125rem;
    font-size: .9375rem;
    text-align: center;
    color: $blue;
  }
}

.form-section__decor-1,
.form-section__decor-2,
.form-section__decor-3,
.form-section__decor-4 {
  position: absolute;
  top: 12.125rem;
  left: calc(50% - 60.5rem);
  z-index: -1;
  width: 40.125rem;
  height: 50.1875rem;
  background-image: url("./images/login-page-bg-2.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.form-section__decor-2 {
  top: 24.375rem;
  right: calc(50% - 59.75rem);
  left: auto;
  width: 34.9375rem;
  height: 50.625rem;
  background-image: url("./images/login-page-bg-1.svg");
  background-position: 0 center;
}

.form-section__decor-3 {
  top: 12.125rem;
  left: calc(50% - 60.5rem);
  width: 52.75rem;
  height: 46.875rem;
  background-image: url("./images/login-page-bg-3.svg");
}

.form-section__decor-4 {
  top: 35.1875rem;
  right: calc(50% - 59.75rem);
  left: auto;
  width: 34rem;
  height: 52.125rem;
  background-image: url("./images/login-page-bg-4.svg");
  background-position: 0 center;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .form-section {
    padding-top: 6rem;
    padding-bottom: .625rem;

    .section__wrapper {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
      width: 100%;
    }

    .section-headline {
      text-align: center;
    }

    .section-description {
      margin-top: .75rem;
      margin-right: auto;
      margin-bottom: 2.6875rem;
      margin-left: auto;
      width: 15.375rem;
      font-size: .8438rem;
      line-height: 1.62;
    }

    .form-control {
      height: 2.875rem;
      border: .125rem solid rgba(191, 191, 191, .6);
    }

    .form-section__row {
      display: block;
    }

    .form-control {
    }

    .custom-file-label {
      padding: .8rem 1rem;
    }

    .custom-file-label:after {
      top: .525rem;
    }

    .form-group.width-48,
    .form-group.width-25,
    .form-group.width-27,
    .form-group.width-65,
    .form-group.width-67 {
      width: 100%;
    }

    .form-submit-button {
      display: flex;
      margin-top: 2.5rem;
      margin-right: auto;
      margin-left: auto;
      width: 11.5625rem;
      height: 3.125rem;
    }

    .form-submit-button:disabled {
      background-color: $grey;
      opacity: .35;
    }
  }

  .form-section__decor-1,
  .form-section__decor-2,
  .form-section__decor-3,
  .form-section__decor-4 {
    top: 0;
    left: 0;
    width: 9.1875rem;
    height: 18.4375rem;
  }

  .form-section__decor-2,
  .form-section__decor-4 {
    top: 27.5rem;
    right: 0;
    left: auto;
    width: 6.375rem;
    height: 13.75rem;
  }
}
