.login-step-1__button-1,
.login-step-1__button-2 {
  display: flex;
  margin-top: 2.25rem;
  margin-right: auto;
  margin-left: auto;
  width: 17.8125rem;
  height: 4.5rem;
  font-size: 1.125rem;
}

.login-step-1__button-2 {
  border: .25rem solid $blue;
  background-color: $white;
  color: $blue;
}

.login-step-1__button-2:hover {
  color: $white;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .login-step-1__button-1,
  .login-step-1__button-2 {
    margin-top: .9375rem;
    width: 12.5rem;
    height: 3.125rem;
    font-size: .8438rem;
  }

  .login-step-1__button-2 {
    border: .1875rem solid $blue;
  }
}
