section.form-section.login-step-1
    .section__wrapper

        .section-headline Login
        .section-description Para acessar seu login diga-nos primeiro em qual perfil você se encaixa.

        button.blue-button.login-step-1__button-1 Área do Contratante
        button.blue-button.login-step-1__button-2 Gestão Interna
    
    .form-section__decor-1
    .form-section__decor-2

