section.servicos
    .servicos__wrapper
        .servicos__img-container
            img(src="./images/servicos-img-dsk.png", alt="")

        .servicos__text-container
            .section-headline.servicos__text-headline Serviços
            ul.servicos__list
                li • Gestão de Equipe multidisciplinar;
                li • Gestão Administrativa de recursos em Unidades Públicas e Privadas;
                li • Formulação de Projetos para implantação de Unidades de Saúde;
                li • Formulação de Protocolos assistenciais;
                li • Diagnóstico técnico-administrativo de Unidades de Saúde;
                li • Adequação de Unidade de Saúde para Certificação de Acreditação Hospitalar, dentre outros.
