extends ../../templates/index-mini

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'form-page'

block content
    include ../../blocks/password-recovery-success/password-recovery-success

