section.information
    .information__wrapper

        .information__first-container
            .information__text-block
                .section-headline.information__headline Informativo Soniprev
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.

            .information__image-block
                img(src="./images/information-image-1.png", alt="")

        .information__second-container
            .information__image-block
                img(src="./images/information-image-2.png", alt="")

            .information__text-block
                .information__text-block
                .section-headline.information__headline Informativo Soniprev
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
                .information__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.

        .information__video-container
            img(src="./images/information-video-image.png", alt="")
            .information__video-shadow
            button.information__play-button