section.presidencia
    .presidencia__wrapper 
        .section-headline.presidencia__headline Presidência
        .presidencia__card-container
            .presidencia__card
                .presidencia__img-container
                    img(src="./images/presidencia-foto-1.png", alt="")
                .presidencia__name Dr André Vieira | Sócio Diretor
                .presidencia__position Medicina Interna, Cirurgia Geral
                ul.presidencia__list
                    li • Possui graduação em Medicina pela Faculdade de Medicina de Teresópolis (1998);
                ul.presidencia__list.hidden
                    li • Concluiu o Programa de Internato Hospitalar no HOSPITAL DE FORÇA AÉREA DO GALEÃO-HFAG-RJ em 1998;
                    li • Certificação de Diploma de Médico pela UNIVERSIDADE FEDERAL FLUMINENSE-UFF-RJ (1998);
                    li • Especialização em Cirurgia Geral no Hospital Municipal Miguel Couto - RJ (2005);
                    li • Membro Certificado do Colégio Brasileiro de Cirurgiões / Núcleo Central - RJ (2005);
                    li • Membro Titular da American Academy Cosmetic Surgery-AACS-USA-(2008). 
                .blue-button.presidencia__button Ver mais
                .blue-button.presidencia__button-menos Ver menos

            .presidencia__card.margin-top
                .presidencia__img-container
                    img(src="./images/presidencia-foto-2.png", alt="")
                .presidencia__name Dra Hilda Freitas | Sócia Diretora
                .presidencia__position Ginecologia e Obstetrícia
                .presidencia__list-header Área Médica:
                ul.presidencia__list
                    li • Graduada em Medicina em 1997 pela Universidade Estadual do Pará;
                ul.presidencia__list.hidden
                    li • Concluiu o Programa de Internato Hospitalar no HOSPITAL DE FORÇA AÉREA DO GALEÃO-HFAG-RJ em 1998;
                    li • Certificação de Diploma de Médico pela UNIVERSIDADE FEDERAL FLUMINENSE-UFF-RJ (1998);
                    li • Especialização em Cirurgia Geral no Hospital Municipal Miguel Couto - RJ (2005);
                    li • Membro Certificado do Colégio Brasileiro de Cirurgiões / Núcleo Central - RJ (2005);
                    li • Membro Titular da American Academy Cosmetic Surgery-AACS-USA-(2008). 
                .blue-button.presidencia__button Ver mais
                .blue-button.presidencia__button-menos Ver menos