section.card-section
    .card-section__wrapper

        .card-section__card
            .card-section__img-container
                img(src="./images/card-section-icon-1.svg", alt="").image-1
            .card-section__card-headline Missão
            .card-section__card-text Fazer saúde, levando ao paciente o atendimento humanizado e participando de projetos de excelência com honestidade e transparência.

        .card-section__card
            .card-section__img-container
                img(src="./images/card-section-icon-2.svg", alt="").image-2
            .card-section__card-headline Visão
            .card-section__card-text Tornar-se referência nacional&nbsp;em&nbsp;gestão e soluções&nbsp;para&nbsp;as unidades de&nbsp;assistência hospitalar.

        .card-section__card
            .card-section__img-container
                img(src="./images/card-section-icon-3.svg", alt="").image-3
            .card-section__card-headline Valores
            ul.card-section__card-list
                li • Honestidade e transparência; 
                li • Ética e respeito; 
                li • Eficiência e comprometimento; 
                li • Credibilidade e responsabilidade.