//- Modal
#exampleModalCenter.modal.modal-areas.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-body
        .section-headline.modal-areas__headline Soluções em
        .modal-areas__list-container
          ul.modal-areas__list-block
            li.modal-areas__list-item Anestesiologia
            li.modal-areas__list-item Bucomaxilo
            li.modal-areas__list-item Cirurgia Geral
            li.modal-areas__list-item Cirurgia Pediátrica
            li.modal-areas__list-item Cirurgia Plástica
            li.modal-areas__list-item Cirurgia Proctológica
            li.modal-areas__list-item Cirurgia Torácica
            li.modal-areas__list-item Cirurgia Vascula
            li.modal-areas__list-item Clínica Médica
            li.modal-areas__list-item CTI
          ul.modal-areas__list-block
            li.modal-areas__list-item Emergência Clínica
            li.modal-areas__list-item Enfermagem
            li.modal-areas__list-item Farmácia
            li.modal-areas__list-item Fisioterapia
            li.modal-areas__list-item Fonoaudiologia
            li.modal-areas__list-item Infectologia
            li.modal-areas__list-item Nefrologia
            li.modal-areas__list-item Neurocirurgia
            li.modal-areas__list-item Neurologia
            li.modal-areas__list-item Nutrição
          ul.modal-areas__list-block
            li.modal-areas__list-item Nutrólogo
            li.modal-areas__list-item Odontologia
            li.modal-areas__list-item Ortopedia
            li.modal-areas__list-item Pediatria
            li.modal-areas__list-item Psicologia
            li.modal-areas__list-item Psiquiatria
            li.modal-areas__list-item Serviço Social
            li.modal-areas__list-item Terapia Ocupacional
            li.modal-areas__list-item Unidade Pós-Operatória
            li.modal-areas__list-item Urologia
          
        button.blue-button.modal-areas__button(type='button' data-dismiss='modal') Fechar



      //- .modal-footer
      //-   button.btn.btn-secondary(type='button' data-dismiss='modal') Close
