//- Modal
#exampleModalCenter.modal.modal-areas.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-body
        .section-headline.modal-areas__headline Soluções em
        .modal-areas__list-container
          ul.modal-areas__list-block
            li.modal-areas__list-item Anestesiologia
            li.modal-areas__list-item BUCOMAXILO
            li.modal-areas__list-item CIRURGIA GERAl
            li.modal-areas__list-item CIRURGIA PEDIÁTRICa
            li.modal-areas__list-item CIRURGIA PLÁSTICA
            li.modal-areas__list-item CIRURGIA PROCTOLÓGICA
            li.modal-areas__list-item CIRURGIA TORÁCICA
            li.modal-areas__list-item CIRURGIA VASCULAR
            li.modal-areas__list-item CLÍNICA MÉDICA
            li.modal-areas__list-item CTI
          ul.modal-areas__list-block
            li.modal-areas__list-item Anestesiologia
            li.modal-areas__list-item BUCOMAXILO
            li.modal-areas__list-item CIRURGIA GERAl
            li.modal-areas__list-item CIRURGIA PEDIÁTRICa
            li.modal-areas__list-item CIRURGIA PLÁSTICA
            li.modal-areas__list-item CIRURGIA PROCTOLÓGICA
            li.modal-areas__list-item CIRURGIA TORÁCICA
            li.modal-areas__list-item CIRURGIA VASCULAR
            li.modal-areas__list-item CLÍNICA MÉDICA
            li.modal-areas__list-item CTI
          ul.modal-areas__list-block
            li.modal-areas__list-item Anestesiologia
            li.modal-areas__list-item BUCOMAXILO
            li.modal-areas__list-item CIRURGIA GERAl
            li.modal-areas__list-item CIRURGIA PEDIÁTRICa
            li.modal-areas__list-item CIRURGIA PLÁSTICA
            li.modal-areas__list-item CIRURGIA PROCTOLÓGICA
            li.modal-areas__list-item CIRURGIA TORÁCICA
            li.modal-areas__list-item CIRURGIA VASCULAR
            li.modal-areas__list-item CLÍNICA MÉDICA
            li.modal-areas__list-item CTI
          
        button.blue-button.modal-areas__button(type='button' data-dismiss='modal') Fechar



      //- .modal-footer
      //-   button.btn.btn-secondary(type='button' data-dismiss='modal') Close
