section.form-section.password-recovery
    .section__wrapper

        .section-headline Recuperação de senha
        .section-description Digite seu email de recuperação para podermos enviar um código de verificação.

        form#passRecoveryForm.password-recovery__form(class="needs-validation" novalidate)
            .form-group.password-recovery__form-email
                label(for="passRecoveryEmail") E-mail
                input(type="text" class="form-control form-control-lg required" id="passRecoveryEmail" placeholder="Digite seu e-mail" required)
                div(class="valid-feedback") Ok
            button(class="blue-button form-submit-button toggle-disabled" disabled type="submit") Enviar

    .form-section__decor-1
    .form-section__decor-2