.password-recovery {
  padding-top: 26.25rem;
  padding-bottom: 2.625rem;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .password-recovery {
    padding-top: 6rem;
    padding-bottom: 0;
  }
}
