section.selective
    .selective__wrapper
        .section-headline.selective__headline Processo seletivo
        .selective__description A Soniprev, no uso de suas atribuições, torna pública a abertura das inscrições para o processo seletivo permanente, adiante denominado PSP, destinado a selecionar e formar cadastro de reserva para cargos em diversas especialidades na área da saúde. Cadastre-se hoje mesmo e faça parte deste grupo seleto de profissionais, assim já estará garantindo seu acesso ao aplicativo exclusivo da Soniprev, onde disponibilizamos agendas de plantão personalizadas para uso privativo do profissional.
        a(href="login-step-2.html").white-button.selective__button Enviar Currículo