.ds-checkbox
    label.ds-checkbox__label(for="userAgreement") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        input.ds-checkbox__html-checkbox(type="checkbox" id="userAgreement")
        span.ds-checkbox__span

.ds-checkbox
    label.ds-checkbox__label(for="userPolicy") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        input.ds-checkbox__html-checkbox(type="checkbox" id="userPolicy")
        span.ds-checkbox__span