////////////////////////////////////
// стилизованный чекбокс
// автор shkredovdmitriy@gmail.com
////////////////////////////////////

.ds-checkbox {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

// прячем html чекбокс
.ds-checkbox__html-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

// текст с описанием
.ds-checkbox__label {
  position: relative;
  display: block;
  padding-left: 2rem;
  color: #252525;
}

// стилизованная галочка
.ds-checkbox__html-checkbox ~ .ds-checkbox__span {
  position: absolute;
  top: .25rem;
  left: 0;
  width: 1.375rem;
  height: 1.375rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./ds-checkbox__unchecked-img.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    background-image: url("./ds-checkbox__checked-img.svg");
    opacity: 0;
  }
}

// активная галочка
.ds-checkbox__html-checkbox:checked ~ .ds-checkbox__span {

  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
}
