.login-client {
  padding-top: 19.25rem;
  padding-bottom: 2.375rem;
}

@media screen and ($mobile1), ($mobile1), ($mobile1) {

  .login-client {
    padding-top: 6rem;
    padding-bottom: .625rem;
  }
}
