.ds-input-pass
    label.ds-input__label Введите пароль
    .ds-input__wrapper
        input.ds-input__field(type="password")
        span.ds-input__eye-icon
    .helper-text введите пароль


.ds-input-pass
    label.ds-input__label Повторите пароль
    .ds-input__wrapper
        input.ds-input__field(type="password")
        span.ds-input__eye-icon
    .helper-text пароли не совпадают