extends ../../templates/index-mini

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'form-page'

block content
    include ../../blocks/enter-new-password/enter-new-password

