section.form-section.registration-success
    .section__wrapper

        .section-headline Cadastro efetuado!
        .section-description Nossa equipe irá analisar as informações recebidas e liberaremos seu acesso dentro de 2 dias úteis.

        button.blue-button OK
    
    .form-section__decor-3
    .form-section__decor-4