extends ../ds-modal/ds-modal

block variables
    - var uniqueClass = 'modal-message'

block content
    .ds-modal__body
        .ds-close-btn.ds-modal-close-btn.modal-message-close
        .ds-modal__headline Message modal
        .ds-modal__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, itaque soluta? Natus, explicabo consequatur ut, non hic minus modi maxime corporis nam quod eveniet quaerat expedita fugiat quo excepturi dolore pariatur, quas ducimus totam ad cupiditate cum suscipit temporibus voluptates. Nihil veniam dicta natus, nam quas non quae numquam labore repudiandae eveniet vitae, eaque quasi reiciendis itaque repellendus tempore impedit temporibus.
